/* Core Styles */

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
    background: #333;
    color: #fff;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3{
    margin: 0;
    padding: 1em 0;
}

p{
    margin: 0;
    padding: 1em 0;
}

.btn{
    display: inline-block;
    background: #333;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 1em 2em;
    margin: 0.5em 0;
}

.btn:hover{
    background: #eaeaea;
    color: #333;
}

.card-content{
    padding: 1.5em;
}


/* Showcase  */

#showcase{
    min-height: 450px;
}

.bgimage{
    position: absolute;
    background: #333 url(/img/top_bg.jpg) no-repeat center center/cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.4;
}

#showcase h1{
    padding-top: 100px;
    padding-bottom: 0;
}

#showcase .content-wrap{
    padding: 0 1.5em;
}


/* Section A  */

#section-a{
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
}


/* Section B */

#section-b{
    padding: 2em 1em 1em;
}

#section-b ul{
    margin: 0;
    padding: 0;
}

#section-b ul li{
    list-style: none;
    background: #eaeaea;
    color: #333;
}


/* Section - C  */

#section-c{
    background-color: #eaeaea;
    color: #333;
    padding: 2em;
}


/* Section - D / Box  */

#section-d .box{
    padding: 2em;
    color: #fff;
}
#section-d .box:first-child{

    background-color: #2690d4;
}


/* Footer */

#main-footer{
    background-color: #333;
    padding: 2em;
    text-align: center;
    color: #fff;
}

#main-footer a{
    color: #2690d4;
    text-decoration: none;
}





@media(min-width: 700px){
    .grid{
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
}

.content-wrap,
#section-b ul{
    grid-column: 2/4;
}

.box, #main-footer div{
    grid-column: span 2;
}

#section-b ul{
    display: flex;
    justify-content: space-around;
}

#section-b li{
    width: 30%;
}

